{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login-container">
    <form method="post" class="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}
