body {
    background-color: #f8f9fa; /* Light gray background */
}

.product-card {
    transition: transform .2s; /* Animation for hover */
}

.product-card:hover {
    transform: scale(1.05); /* Slightly enlarge cards on hover */
}

/* Login Page */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.login-form .btn-primary:hover {
    background-color: #0056b3;
}