{# templates/product/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <!-- Botón de Logout en la parte superior derecha -->
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-4">Product List</h1>
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        </div>

        {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
        {% endfor %}

        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 product-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.productName }}</h5>
                            <p class="card-text">SKU: {{ product.sku }}</p>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Created at: {{ product.createdAt|date('Y-m-d H:i:s') }}</small>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p>No products found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
