{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Product List</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
